sprout:
  jpa:
    packages-to-scan:
    - net.savantly.sprout.server.domain

spring:
  banner:
    location: banner.txt
  mvc:
    log-request-details: true
  jpa:
    generate-ddl: true
    properties:
      hibernate:
        format_sql: true
        ddl-auto: create-drop
  profiles:
    active: local


management:
  endpoints:
    web:
      exposure.include: "*"

logging:
  level:
    org.springframework.web: INFO

springdoc:
  api-docs:
    path: /v3/api-docs