<mat-list>
	<mat-list-item>
		<button mat-button (click)="menu.close()">
			<mat-icon>menu</mat-icon>
			<span>Close Menu</span>
		</button>
	</mat-list-item>
	<mat-list-item>
		<button mat-button [routerLink]="['']">
			<mat-icon>home</mat-icon>
			<span>Home</span>
		</button>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item *ngFor="let menu of menus | async">
		<sv-menu menuId="{{menu.id}}"></sv-menu>
	</mat-list-item>
	<mat-divider></mat-divider>
	<ng-container *ngIf="appMenus">
		<ng-container *ngTemplateOutlet="menuListTemplate;context:{itemList:appMenus}"></ng-container>
	</ng-container>
</mat-list>

<ng-template #menuItemTemplate let-item="item">
		<mat-menu #submenu="matMenu" fxLayoutGap="1em">
			<ng-container *ngTemplateOutlet="menuListTemplate;context:{itemList:item.items}"></ng-container>
		</mat-menu>
		<button mat-button (click)="navigate(item.url)" [matMenuTriggerFor]="submenu">
			<mat-icon>{{item.icon}}</mat-icon>
			<span>{{item.displayText}}</span>
		</button>
</ng-template>

<ng-template #simpleItemTemplate let-item="item">
		<button mat-button (click)="navigate(item.url)">
			<mat-icon>{{item.icon}}</mat-icon>
			<span>{{item.displayText}}</span>
		</button>
</ng-template>

<ng-template #menuListTemplate let-itemList="itemList">
	<mat-list-item *ngFor="let item of itemList">
		<div *ngIf="item['items'] && item['items'].length>0; then thenBlock else elseBlock"></div>
		<ng-template #thenBlock>
			<ng-container *ngTemplateOutlet="menuItemTemplate;context:{item: item}"></ng-container>
		</ng-template>
		<ng-template #elseBlock>
			<ng-container *ngTemplateOutlet="simpleItemTemplate;context:{item: item}"></ng-container>
		</ng-template>
	</mat-list-item>
</ng-template>
