<div class="content" fxLayout >
	<mat-card class="centered" [fxFlex.lt-md]="100" [fxFlex.md]="80" [fxFlex.lg]="60" [fxFlex.xl]="50">
		<mat-card-header fxLayoutAlign="center center" fxLayout >
			<mat-card-title>Page Layout Editor</mat-card-title>
			<span fxFlex></span>
			<button mat-button (click)="router.navigate(['layouts'])"><mat-icon>close</mat-icon></button>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="rForm" fxLayout="column">
				
				<mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="name" maxlength="255" placeholder="Enter a name">
					<mat-hint align="end">{{rForm.controls['name'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
			
				<mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="description" maxlength="255" placeholder="Enter a description">
					<mat-hint align="end">{{rForm.controls['description'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
				
				<ckeditor #ckEditor [ngModelOptions]="{standalone: true}" [ngModel]="template | async" (ngModelChange)="template.next($event)"></ckeditor>
				
				<br/>
				
				<div fxLayout fxLayoutAlign="start center">
					<button mat-button color="accent" (click)="addPlaceHolder()">
						<mat-icon>add</mat-icon>
						<span>Add new placeholder</span>
					</button>
				</div>
				
				<div formArrayName="placeHolders">
					<div fxLayout fxLayoutAlign="center center" *ngFor="let item of placeHolders.controls; let i=index" [formGroupName]="i" >
						<mat-form-field hintLabel="Max 255 characters">
							<input matInput formControlName="value" maxlength="255">
							<mat-hint align="end">{{item.value?.length || 0}}/255</mat-hint>
						</mat-form-field>
						<button mat-button color="warn" (click)="removePlaceHolderControl(i)"><md-icon>x</md-icon></button>
					</div>
				</div>
				
			
			</form>
		</mat-card-content>
		<mat-card-actions fxLayout fxLayoutAlign="space-around">
			<button mat-fab color="warn" [disabled]="rForm.value.new" (click)="this.delete(rForm.value)"><mat-icon>delete</mat-icon></button>
			
			<button mat-fab type="submit" color="primary" [disabled]="!rForm.valid" (click)="save(rForm.value)"><mat-icon>save</mat-icon></button>
		</mat-card-actions>
	</mat-card>
</div>