<!DOCTYPE html>
<html lang="en" ng-app="LoginApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<!-- Fav Icon -->
		<link rel="icon" href="/favicon.ico?v=1.0"></link>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css"></link>
		<link rel="stylesheet" href="generated/theme.css"></link>
		<meta name="viewport" content="width=device-width"></meta>
	</head>
	<body layout="column" layout-align="space-between stretch">
		<header>
			<section>
				<md-menu-bar layout="row"  layout-align="space-between center">
					<div><md-button class="to-lower-case" ng-click="$location.url('/')"><span class="logo-text">sprout</span></md-button></div>
					<div flex="flex"></div>
				</md-menu-bar>
			</section>
		</header>
		<div class="page-login" ng-app="LoginApp" layout="column" flex="flex" layout-align="space-between stretch" layout-padding="layout-padding" ng-cloak="ng-cloak">
			<div layout="row" layout-align="center center">
				<md-card flex="100" flex-gt-sm="50" flex-gt-md="33">
			        <md-card-content>
						<form formAutofillFix="true" name="Form" ng-controller="LoginController" th:action="@{/login}" method="post">
						  <md-input-container class="md-block">
						    <label>Login</label>
						    <input type="text" name="username" id="username" ng-model="username" required=""/>
						    <div ng-messages="Form.username.$error" role="alert" multiple="">
						      <div class="my-message" ng-message="required">You must supply a username.</div>
						    </div>
						  </md-input-container>
						  <md-input-container class="md-block">
						    <label>Password</label>
						    <input type="password" name="password" id="password" ng-model="password" required=""/>
						    <div ng-messages="Form.password.$error" role="alert" multiple="">
						      <div class="my-message" ng-message="required">You must supply a password.</div>
						    </div>
						  </md-input-container>
						  <md-button class="md-raised login-button" type="submit">&nbsp; Login &nbsp;</md-button>
						</form>
						<div th:if="${param.error}">
						    Invalid username and password.
						</div>
						<div th:if="${param.logout}">
						    You have been logged out.
						</div>
			        </md-card-content>
				</md-card>
			</div>
			<div flex="flex"></div>
			<footer layout="row" layout-align="end end">
				<img src="modules/core/img/brand/logo.png" alt="intnt" />
			</footer>
    	</div>
    <!-- Angular Material Dependencies-->
	</body>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
	<script>
	var app = angular.module('LoginApp',['ngMaterial','ngAnimate','ngAria','ngMessages']);
	
	app.controller('LoginController', ['$scope',
		function($scope) {
		}
	]);
	</script>
</html>
