.TopSection__mobileMenuIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.TopSection__logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}