// styles in src/style directory are applied to the whole page
@import './theme.scss';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import '../../node_modules/highlight.js/styles/agate.css';


html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body, material-app, mat-sidenav-container, main {
  margin: 0;
  height: 100%;
  width: 100%;
}


img {
  max-width: 100%
}

router-outlet + * { 
	flex: 1 1 auto; 
	display: flex; 
	flex-direction: column; 
}

/****** Material Styles ******************/

mat-card {
	max-width: 100%;
}

mat-card form, mat-card form .mat-form-field, mat-card form > * {
	width: 100%;
}

mat-card-header button.mat-button {
	margin-bottom: 16px;
}

.mat-form-field {
	margin-top: 1.5em;
}

/****** End Material Styles **************/

.content {
	padding: 1em;
}
