@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$sprout-app-primary: mat-palette($mat-light-green);
$sprout-app-accent:  mat-palette($mat-yellow);

// The warn palette is optional (defaults to red).
$sprout-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sprout-app-theme: mat-light-theme($sprout-app-primary, $sprout-app-accent, $sprout-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sprout-app-theme);

.light-blue-yellow-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-light-blue), mat-palette($mat-yellow)));
}

.light-blue-green-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-light-blue), mat-palette($mat-green)));
}

.light-blue-pink-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-light-blue), mat-palette($mat-pink)));
}

.light-blue-cyan-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-light-blue), mat-palette($mat-cyan)));
}

.light-blue-amber-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-light-blue), mat-palette($mat-amber)));
}

.light-blue-teal-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-light-blue), mat-palette($mat-teal)));
}

.indigo-pink-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-pink)));
}

.indigo-deep-purple-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-deep-purple)));
}

.indigo-blue-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-blue)));
}

.indigo-cyan-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-cyan)));
}

.savantly-theme {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-blue-grey), mat-palette($mat-amber)));
}
