{
  "rules": {
    "no-restricted-imports": ["error", { "patterns": ["@grafana/runtime", "@savantly/sprout-ui", "@grafana/e2e"] }]
  },
  "overrides": [
    {
      "files": ["**/*.{test,story}.{ts,tsx}"],
      "rules": {
        "no-restricted-imports": "off"
      }
    }
  ]
}
