<div class="content" fxLayout fxLayoutAlign="center center" fxLayoutGap="1em" fxFlexFill>
	<mat-card [fxFlex.lt-md]="100" [fxFlex.md]="80" [fxFlex.lg]="60" [fxFlex.xl]="50">
		<mat-card-header fxLayoutAlign="center center" fxLayout fxFlexFill>
			<h3>User Editor</h3>
			<span fxFlex></span>
			<button mat-button (click)="router.navigate(['users'])"><mat-icon>close</mat-icon></button>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="rForm" fxLayout="column">
			
			    <mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="username" maxlength="255" placeholder="Enter a username">
					<mat-hint align="end">{{rForm.controls['username'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
				
				<mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="displayName" maxlength="255" placeholder="Enter a display name">
					<mat-hint align="end">{{rForm.controls['displayName'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
			
				<mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="firstName" maxlength="255" placeholder="Enter your first name">
					<mat-hint align="end">{{rForm.controls['firstName'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
				
				<mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="lastName" maxlength="255" placeholder="Enter your last name">
					<mat-hint align="end">{{rForm.controls['lastName'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
				
				<mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="primaryEmailAddress" maxlength="255" placeholder="Enter your email address">
					<mat-hint align="end">{{rForm.controls['primaryEmailAddress'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
				
				<mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="clearTextPassword" maxlength="255" placeholder="Enter a password">
					<mat-hint align="end">{{rForm.controls['clearTextPassword'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
				<br/>
			
			</form>
		</mat-card-content>
		<mat-card-actions fxLayout fxLayoutAlign="space-around">
			<button mat-fab color="warn" [disabled]="rForm.value.new" (click)="this.delete(rForm.value)"><mat-icon>delete</mat-icon></button>
			
			<button mat-fab type="submit" color="primary" [disabled]="!rForm.valid" (click)="save(rForm.value)"><mat-icon>save</mat-icon></button>
		</mat-card-actions>
	</mat-card>
</div>