<mat-card *ngIf="fieldControl">
	<!-- The repeated field template -->
	<mat-card-content [ngSwitch]="fieldControl.value?.fieldType">
		<div *ngSwitchCase="'text'">
			<mat-form-field [hintLabel]="fieldControl.value.displayName">
				<textarea rows="1" matInput maxlength="3000" [(ngModel)]="fieldControl.value.value"></textarea>
				<mat-hint align="end">{{fieldControl.value.value?.length || 0}}/3000</mat-hint>
			</mat-form-field>
		</div>
		<div *ngSwitchCase="'markup'">
			<ckeditor [(ngModel)]="fieldControl.value.value" [ngModelOptions]="{standalone: true}"></ckeditor>
		</div>
		<div *ngSwitchCase="'markdown'">
			<md-editor name="markdownContent" [(ngModel)]="fieldControl.value.value" [height]="'200px'" [mode]="markdownMode" [required]="fieldControl.value.required"></md-editor>
		</div>
		<div *ngSwitchCase="'json'" class="jsoneditor">
			<sv-json-editor [(ngModel)]="fieldControl.value.value"></sv-json-editor>
		</div>
		<div *ngSwitchDefault>
			<b>Field type: {{fieldControl.value?.fieldType}} has no editor yet =(</b>
		</div>
	</mat-card-content>
    <!-- End of the repeated field template -->
</mat-card>
