<div fxLayout="column" fxLayoutGap="1em">
	<h3>Application Menu Items</h3>
	<mat-card>
    	<mat-list>
			<mat-list-item *ngFor="let menu of this.menus | async; trackBy: trackById">
				<ng-container *ngTemplateOutlet="menuItemTemplate;context:{parent: null, item: menu}"></ng-container>
			</mat-list-item>
			<mat-list-item>
				<button mat-raised-button color="primary" (click)="addItem()">Add item <mat-icon>add</mat-icon></button>
			</mat-list-item>
		</mat-list>
		
	</mat-card>
</div>

<ng-template #menuItemTemplate let-item="item" let-parent="parent">
	<div fxLayout fxLayoutAlign="start center">
		<button mat-button mat-mini-fab color="warn" (click)="deleteItem(parent, item)"><mat-icon>delete</mat-icon></button>
		<mat-icon>{{item.icon}}</mat-icon>
		{{item.displayText}}
		<button mat-mini-fab color="accent" (click)="addToItemList(item)"><mat-icon>add</mat-icon></button>
	</div>
	<mat-list *ngIf=" item.items && item.items.length > 0">
		<ng-container *ngTemplateOutlet="menuListTemplate;context:{itemList:item.items, parent: item}"></ng-container>
	</mat-list>
</ng-template>

<ng-template #menuListTemplate let-itemList="itemList" let-parent="parent">
	<mat-list-item *ngFor="let item of itemList; trackBy: trackById">
		<span>second</span>
		<ng-container *ngTemplateOutlet="menuItemTemplate;context:{item: item, parent: parent}"></ng-container>
	</mat-list-item>
</ng-template>
