<div class="content" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px" fxFlexFill>
	<mat-card *ngIf="rForm" [fxFlex.lt-md]="100" [fxFlex.md]="80" [fxFlex.lg]="60" [fxFlex.xl]="50">
		<mat-card-header fxLayoutAlign="center center" fxLayout fxFlexFill>
			<mat-card-title>Page Editor</mat-card-title>
			<span fxFlex></span>
			<button mat-button (click)="router.navigate(['pages'])"><mat-icon>close</mat-icon></button>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="rForm" fxLayout="column">
				
				<mat-checkbox formControlName="home">Make this the home page</mat-checkbox>
				
				<mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="name" maxlength="255" placeholder="Enter a name">
					<mat-hint align="end">{{rForm.controls['name'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
			
				<mat-form-field hintLabel="Max 255 characters">
					<input matInput formControlName="description" maxlength="255" placeholder="Enter a description">
					<mat-hint align="end">{{rForm.controls['description'].value?.length || 0}}/255</mat-hint>
				</mat-form-field>
				
				<mat-form-field hintLabel="The page layout determines the placeholders; cannot change once set">
					<mat-select matInput formControlName="webPageLayout" [disabled]="!rForm.value.new" [compareWith]="idCompare">
						<mat-option *ngFor="let item of this.layouts; trackBy: trackById" [value]="item">{{item.name}}</mat-option>
					</mat-select>
				</mat-form-field>
				
				<br/>
				
				<div *ngIf="!rForm.value.new" formArrayName="contentItems">
					<div fxLayout fxLayoutAlign="center center" *ngFor="let item of contentItems.controls; let i=index" [formGroupName]="i" >
						<mat-form-field hintLabel="{{item.value.key}}">
							<mat-select matInput formControlName="value" [compareWith]="idCompare">
								<mat-option *ngFor="let contentItem of this.allContentItems; trackBy: trackById" [value]="contentItem">{{contentItem.name}}</mat-option>
							</mat-select>
						</mat-form-field>
						<button mat-button color="warn" (click)="removeContentItem(i)"><md-icon>x</md-icon></button>
					</div>
				</div>
				
			
			</form>
		</mat-card-content>
		<mat-card-actions fxLayout fxLayoutAlign="space-around">
			<button mat-fab color="warn" [disabled]="rForm.value.new" (click)="this.delete(rForm.value)"><mat-icon>delete</mat-icon></button>
			
			<button mat-fab type="submit" color="primary" [disabled]="!rForm.valid" (click)="save(rForm.value)"><mat-icon>save</mat-icon></button>
		</mat-card-actions>
	</mat-card>
</div>